.edit-wrap,
.content-wrap {
    display: flex;
    width: 100%;
    gap: 20px;
}
    .TodoItem{
    display: flex;
    gap: 20px;
    padding: 10px ;
    border-bottom: 1px solid #eee;
}

.TodoItem.isCompleted {
    background-color: #f1f1f1;
}

.edit-wrap input {
flex: 1;
border: 1px solid black;
border-radius: 5px;
}

.TodoItem .content {
    flex: 1;
}

.TodoItem .date {
    font-size: 14px;
    color: gray;
}

.btn-wrap {
    display: flex;
    gap: 10px;
}

.TodoItem button {
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #fff
}

.updateBtn {
    background-color: orange;
}

.updateBtn:hover {
    background-color:  darkkhaki;
}

.deleteBtn {
    background-color: darkcyan;
}

.deleteBtn:hover {
    background-color: indianred;
}

.TodoItem.isCompleted .content {
    text-decoration: line-through;
    color: gray;
}