.TodoEditor {
display: flex;
gap: 10px;
}
.TodoEditor input {
flex: 1;
padding: 15px;
border: 2px dotted navy;
border-radius: 5px;
}
.TodoEditor button {
cursor: pointer;
background-color: paleturquoise;
border: 2px dotted navy;
border-radius: 5px;
width: 80px;
}
.TodoEditor button:hover {
    background-color: navy;
}
